<button id="ok-button">Ok</button>
<button id="unprocessable-entity-button">Unprocessable Entity</button>
<button id="not-found-button">Not Found</button>
<button id="unauthorized-button">Unauthorized</button>
<button id="forbidden-button">Forbidden</button>
<button id="internal-server-error-button">Internal Server Error</button>

<%= javascript_pack_tag 'http_status_codes' %>
