<ol>
  <li>
    <%= link_to 'Select an element in the page to inspect it',
                select_an_element_in_the_page_to_inspect_it_path %>
  </li>
  <li>
    <%= link_to 'Toggle device toolbar', toggle_device_toolbar_path %>
  </li>
  <li>
    <%= link_to 'Http status codes', http_status_codes_path %>
  </li>
  <li>
    <%= link_to 'Application', application_path %>
  </li>
</ol>
