<div class="select_an_element_in_the_page_to_inspect_it">
  <img class="img0" src="/images/select_an_element_in_the_page_to_inspect_it/a-cat.jpg" />
  <img class="img1" src="/images/select_an_element_in_the_page_to_inspect_it/longcat.jpg" />
  <div class="img2"></div>
  <img class="img3" alt="The upper part of the longcat" src="/images/select_an_element_in_the_page_to_inspect_it/cutcat.jpg" />
  <div class="img4-container">
    <img class="img4" src="/images/select_an_element_in_the_page_to_inspect_it/catocalypse.jpg" />
  </div>
</div>
